h1 {
  text-align: center;
}

#image {
  align-items: center;
  text-align: center;
  width: 400px;
  height: 400px;
  border: 1px solid black;
  margin: auto;
}

#btn-div {
  text-align: center;
  margin-top: 10px;
}

#btn {
  padding: 5px 20px 5px 20px;
  background-color: salmon;
  color: whitesmoke;
  font-weight: bold;
  border: none;
}
